<?xml version="1.0"?>
<EngineConfigModel xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <AppNamespace>UTH.Server.Api</AppNamespace>
  <AppTitle>UTH Api Center</AppTitle>
  <AppCode>100000</AppCode>
  <AppType>Api</AppType>
  <IsDebugger>true</IsDebugger>
  <Culture>zh-CN,en-US</Culture>
  <Hosting>http://+:8101</Hosting>
  <BinPath>Bin|Core</BinPath>
  <ConfigPath>../../Config</ConfigPath>
  <CaptchaExpire>600</CaptchaExpire>
  <Store>
    <Database>
      <ConnectionString>Server=mysql1;uid=root;pwd=uth_mysqldev;port=53306;database=UTH_Meeting;SslMode=None;</ConnectionString>
      <DbType>MySql</DbType>
    </Database>
    <DefaultCache>
      <ConnectionString>redis1:6379</ConnectionString>
      <DbType>Redis</DbType>
      <DbName>0</DbName>
    </DefaultCache>
    <DataCache>
      <ConnectionString>redis1:6379</ConnectionString>
      <DbType>Redis</DbType>
      <DbName>0</DbName>
    </DataCache>
    <AppCache>
      <ConnectionString>redis1:6379</ConnectionString>
      <DbType>Redis</DbType>
      <DbName>1</DbName>
    </AppCache>
    <SessionCache>
      <ConnectionString>redis1:6379</ConnectionString>
      <DbType>Redis</DbType>
      <DbName>2</DbName>
    </SessionCache>
  </Store>
  <Authentication>
    <AuthenticationType>Jwt</AuthenticationType>
    <Issuer>UTHCenter</Issuer>
    <Audiences>
      <string>100000</string>
      <string>100100</string>
      <string>200100</string>
      <string>900101</string>
      <string>900102</string>
    </Audiences>
    <LoginPath>/account/login</LoginPath>
    <LogoutPath>/account/logout</LogoutPath>
    <AccessDeniedPath>/error/access</AccessDeniedPath>
    <SecretKey>1234567887654 321</SecretKey>
    <ExpireTime>3600</ExpireTime>
    <TokenStore>
      <ConnectionString>redis1:6379</ConnectionString>
      <DbType>Redis</DbType>
      <DbName>8</DbName>
      <ExpireTime>86400</ExpireTime>
    </TokenStore>
  </Authentication>
  <Settings>
    <Item Key="key1" Value="123456"></Item>
  </Settings>
</EngineConfigModel>