<div class="dxm-menu">
    <a href="javascript:;" class="active"><i class="iconfont icon-shangye1"></i>应用管理</a>
    <a href="javascript:;"><i class="iconfont icon-shangye2"></i>权限管理</a>
    <a href="javascript:;"><i class="iconfont icon-shangye6"></i>系统配置</a>
</div>
