<?xml version="1.0"?>
<EngineConfigModel xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <AppNamespace>UTH.Meeting.Web</AppNamespace>
  <AppTitle>Meeting Web</AppTitle>
  <AppCode>900101</AppCode>
  <AppType>Web</AppType>
  <IsDebugger>true</IsDebugger>
  <Culture>zh-CN,en-US</Culture>
  <Hosting>http://+:9101</Hosting>
  <BinPath>Bin|Core</BinPath>
  <ConfigPath>../../../Config</ConfigPath>
  <CaptchaExpire>600</CaptchaExpire>
  <Store>
    <Database>
      <ConnectionString>Server=mysql1;uid=root;pwd=uth_mysqldev;port=53306;database=UTH_Meeting;SslMode=None;</ConnectionString>
      <DbType>MySql</DbType>
    </Database>
    <DefaultCache>
      <ConnectionString>redis1:6379</ConnectionString>
      <DbType>Redis</DbType>
      <DbName>0</DbName>
    </DefaultCache>
    <DataCache>
      <ConnectionString>redis1:6379</ConnectionString>
      <DbType>Redis</DbType>
      <DbName>0</DbName>
    </DataCache>
    <AppCache>
      <ConnectionString>redis1:6379</ConnectionString>
      <DbType>Redis</DbType>
      <DbName>1</DbName>
    </AppCache>
    <SessionCache>
      <ConnectionString>redis1:6379</ConnectionString>
      <DbType>Redis</DbType>
      <DbName>2</DbName>
    </SessionCache>
  </Store>
  <Authentication>
    <AuthenticationType>Cookie</AuthenticationType>
    <LoginPath>/account/login</LoginPath>
    <LogoutPath>/account/logout</LogoutPath>
    <AccessDeniedPath>/error/401</AccessDeniedPath>
  </Authentication>
  <Settings>
    <!--!http://localhost:9101 https://meettest.utranshub.com-->
    <Item Key="WebUrl" Value="http://localhost:9101"></Item>
    <Item Key="WeiXinAppId" Value="wx8eff62aca23ebf87"></Item>
    <Item Key="WeiXinSecret" Value="b224033b6b4bf36970deaf5aa846ab4d"></Item>
    <Item Key="meetingSource" Value="中文|zs,英语|en,阿拉伯语|ar,德语|de,俄语|ru,法语|fr,高棉语|km,韩语|ko,老挝语|lo,马来语|ms,葡萄牙语|pt,日语|ja,泰语|th,西班牙语|es,意大利语|it,印尼语|id"></Item>
    <Item Key="meetingTarget" Value="中文|zs,英语|en,阿拉伯语|ar,德语|de,俄语|ru,法语|fr,高棉语|km,韩语|ko,老挝语|lo,马来语|ms,葡萄牙语|pt,日语|ja,泰语|th,西班牙语|es,意大利语|it,印尼语|id"></Item>
  </Settings>
</EngineConfigModel>