<?xml version="1.0"?>
<ApiUrl xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <!--http://192.168.1.30:8101,http://meetapitest.utranshub.com,http://localhost:8101-->
  <Root>http://localhost:8101</Root>
  <Core>
    
    <CaptchaSend>/api/core/captcha/send</CaptchaSend>
    <CaptchaVerify>/api/core/captcha/verify</CaptchaVerify>
    <CaptchaRemove>/api/core/captcha/remove</CaptchaRemove>
    
    <NotifySend>/api/core/notify/send</NotifySend>

    <AssetsCheck>/api/assets/check</AssetsCheck>
    <AssetsDownload>/api/assets/download</AssetsDownload>
    <AssetsUpload>/api/assets/upload</AssetsUpload>
    <AssetsMerge>/api/assets/merge</AssetsMerge>
  
  </Core>
  <Basics>

    <AppDetail>/api/basics/app/detail</AppDetail>

    <AppGetId>/api/basics/app/get</AppGetId>
    <AppInsert>/api/basics/app/insert</AppInsert>
    <AppUpdate>/api/basics/app/update</AppUpdate>
    <AppDelete>/api/basics/app/delete</AppDelete>
    <AppQuery>/api/basics/app/query</AppQuery>
    <AppPaging>/api/basics/app/paging</AppPaging>

    <AppVersionGetId>/api/basics/appversion/get</AppVersionGetId>
    <AppVersionInsert>/api/basics/appversion/insert</AppVersionInsert>
    <AppVersionUpdate>/api/basics/appversion/update</AppVersionUpdate>
    <AppVersionDelete>/api/basics/appversion/delete</AppVersionDelete>
    <AppVersionQuery>/api/basics/appversion/query</AppVersionQuery>
    <AppVersionPaging>/api/basics/appversion/paging</AppVersionPaging>

  </Basics>
  <User>
    
    <SignIn>/api/user/account/signin</SignIn>
    <SignOut>/api/user/account/signout</SignOut>
    <SignRefresh>/api/user/account/refresh</SignRefresh>
    <Regist>/api/user/account/regist</Regist>
    <FindPwd>/api/user/account/findpwd</FindPwd>
    <EditPwd>/api/user/account/editpwd</EditPwd>
    <CheckName>/api/user/account/checkname</CheckName>

    <AccountGetId>/api/user/account/get</AccountGetId>
    <AccountUpdate>/api/user/account/update</AccountUpdate>
    <AccountQuery>/api/user/account/query</AccountQuery>
    <AccountPaging>/api/user/account/paging</AccountPaging>
    
    <MemberGetId>/api/user/member/get</MemberGetId>
    <MemberUpdate>/api/user/member/update</MemberUpdate>
    <MemberQuery>/api/user/member/query</MemberQuery>
    <MemberPaging>/api/user/member/paging</MemberPaging>
    
    <OrganizeGetId>/api/user/organize/get</OrganizeGetId>
    <OrganizeUpdate>/api/user/organize/update</OrganizeUpdate>
    <OrganizeQuery>/api/user/organize/query</OrganizeQuery>
    <OrganizePaging>/api/user/organize/paging</OrganizePaging>
    
    <EmployeGetId>/api/user/employe/get</EmployeGetId>
    <EmployeInsert>/api/user/employe/insert</EmployeInsert>
    <EmployeUpdate>/api/user/employe/update</EmployeUpdate>
    <EmployeDelete>/api/user/employe/delete</EmployeDelete>
    <EmployeQuery>/api/user/employe/query</EmployeQuery>
    <EmployePaging>/api/user/employe/paging</EmployePaging>
    <EmployeBatchAdd>/api/user/employe/batchadd</EmployeBatchAdd>

  </User>
  <Document>
    
    <ArticleGet>/api/cms/article/getarticle</ArticleGet>
  
  </Document>
  <Meeting>
    
    <MeetingSyncQuery>/api/meet/meeting/syncquery</MeetingSyncQuery>
    <MeetingGetCode>/api/meet/meeting/getbycode</MeetingGetCode>

    <MeetingGetId>/api/meet/meeting/get</MeetingGetId>
    <MeetingInsert>/api/meet/meeting/insert</MeetingInsert>
    <MeetingUpdate>/api/meet/meeting/update</MeetingUpdate>
    <MeetingDelete>/api/meet/meeting/delete</MeetingDelete>
    <MeetingQuery>/api/meet/meeting/query</MeetingQuery>
    <MeetingPaging>/api/meet/meeting/paging</MeetingPaging>

    <MeetingRecordAdd>/api/meet/meetingrecord/add</MeetingRecordAdd>
    <MeetingRecordCreate>/api/meet/meetingrecord/create</MeetingRecordCreate>
    
    <MeetingRecordGetId>/api/meet/meetingrecord/get</MeetingRecordGetId>
    <MeetingRecordInsert>/api/meet/meetingrecord/insert</MeetingRecordInsert>
    <MeetingRecordUpdate>/api/meet/meetingrecord/update</MeetingRecordUpdate>
    <MeetingRecordDelete>/api/meet/meetingrecord/delete</MeetingRecordDelete>
    <MeetingRecordQuery>/api/meet/meetingrecord/query</MeetingRecordQuery>
    <MeetingRecordPaging>/api/meet/meetingrecord/paging</MeetingRecordPaging>

    <MeetingTranslationGetId>/api/meet/meetingtranslation/get</MeetingTranslationGetId>
    <MeetingTranslationInsert>/api/meet/meetingtranslation/insert</MeetingTranslationInsert>
    <MeetingTranslationUpdate>/api/meet/meetingtranslation/update</MeetingTranslationUpdate>
    <MeetingTranslationDelete>/api/meet/meetingtranslation/delete</MeetingTranslationDelete>
    <MeetingTranslationQuery>/api/meet/meetingtranslation/query</MeetingTranslationQuery>
    <MeetingTranslationPaging>/api/meet/meetingtranslation/paging</MeetingTranslationPaging>

    <MeetingProfileLoginAccountGet>/api/meet/meetingprofile/getloginaccountprofile</MeetingProfileLoginAccountGet>
    <MeetingProfileLoginAccountSave>/api/meet/meetingprofile/saveloginaccountprofile</MeetingProfileLoginAccountSave>

  </Meeting>
</ApiUrl>