<?xml version="1.0"?>
<ApiUrl xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <!--http://192.168.1.30:8101,http://localhost:8101,http://meetapitest.utranshub.com-->
  <Root>http://localhost:8101</Root>
  <Basics>
    <AppGetId>/api/basics/app/get</AppGetId>
    <AppGetIds>/api/basics/app/getids</AppGetIds>
    <AppInsert>/api/basics/app/insert</AppInsert>
    <AppUpdate>/api/basics/app/update</AppUpdate>
    <AppDelete>/api/basics/app/delete</AppDelete>
    <AppDeleteId>/api/basics/app/deleteid</AppDeleteId>
    <AppDeleteIds>/api/basics/app/deleteids</AppDeleteIds>
    <AppQuery>/api/basics/app/query</AppQuery>
    <AppPaging>/api/basics/app/paging</AppPaging>
  </Basics>
  <Core>
    <CaptchaSend>/api/core/captcha/send</CaptchaSend>
    <CaptchaVerify>/api/core/captcha/verify</CaptchaVerify>
    <CaptchaRemove>/api/core/captcha/remove</CaptchaRemove>
  </Core>
  <User>
    <SignIn>/api/user/account/signin</SignIn>
    <SignOut>/api/user/account/signout</SignOut>
    <SignRefresh>/api/user/account/signrefresh</SignRefresh>
    <Regist>/api/user/account/regist</Regist>
    <FindPwd>/api/user/account/findpwd</FindPwd>
    <EditPwd>/api/user/account/editpwd</EditPwd>

    <EmployeGetId>/api/user/employe/get</EmployeGetId>
    <EmployeGetIds>/api/user/employe/getids</EmployeGetIds>
    <EmployeInsert>/api/user/employe/insert</EmployeInsert>
    <EmployeUpdate>/api/user/employe/update</EmployeUpdate>
    <EmployeDelete>/api/user/employe/delete</EmployeDelete>
    <EmployeDeleteId>/api/user/employe/deleteid</EmployeDeleteId>
    <EmployeDeleteIds>/api/user/employe/deleteids</EmployeDeleteIds>
    <EmployeQuery>/api/user/employe/query</EmployeQuery>
    <EmployePaging>/api/user/employe/paging</EmployePaging>

  </User>
  <Document>
    <ArticleGet>/api/cms/article/getarticle</ArticleGet>
  </Document>
  <Meeting>
    <MeetingGetCode>/api/meet/meeting/getbycode</MeetingGetCode>
    <MeetingGetId>/api/meet/meeting/get</MeetingGetId>
    <MeetingGetIds>/api/meet/meeting/getids</MeetingGetIds>
    <MeetingInsert>/api/meet/meeting/insert</MeetingInsert>
    <MeetingUpdate>/api/meet/meeting/update</MeetingUpdate>
    <MeetingDelete>/api/meet/meeting/delete</MeetingDelete>
    <MeetingDeleteId>/api/meet/meeting/deleteid</MeetingDeleteId>
    <MeetingDeleteIds>/api/meet/meeting/deleteids</MeetingDeleteIds>
    <MeetingQuery>/api/meet/meeting/query</MeetingQuery>
    <MeetingPaging>/api/meet/meeting/paging</MeetingPaging>

    <MeetingRecordGetId>/api/meet/meetingrecord/get</MeetingRecordGetId>
    <MeetingRecordGetIds>/api/meet/meetingrecord/getids</MeetingRecordGetIds>
    <MeetingRecordInsert>/api/meet/meetingrecord/insert</MeetingRecordInsert>
    <MeetingRecordUpdate>/api/meet/meetingrecord/update</MeetingRecordUpdate>
    <MeetingRecordDelete>/api/meet/meetingrecord/delete</MeetingRecordDelete>
    <MeetingRecordDeleteId>/api/meet/meetingrecord/deleteid</MeetingRecordDeleteId>
    <MeetingRecordDeleteIds>/api/meet/meetingrecord/deleteids</MeetingRecordDeleteIds>
    <MeetingRecordQuery>/api/meet/meetingrecord/query</MeetingRecordQuery>
    <MeetingRecordPaging>/api/meet/meetingrecord/paging</MeetingRecordPaging>

    <MeetingTranslationGetId>/api/meet/meetingtranslation/get</MeetingTranslationGetId>
    <MeetingTranslationGetIds>/api/meet/meetingtranslation/getids</MeetingTranslationGetIds>
    <MeetingTranslationInsert>/api/meet/meetingtranslation/insert</MeetingTranslationInsert>
    <MeetingTranslationUpdate>/api/meet/meetingtranslation/update</MeetingTranslationUpdate>
    <MeetingTranslationDelete>/api/meet/meetingtranslation/delete</MeetingTranslationDelete>
    <MeetingTranslationDeleteId>/api/meet/meetingtranslation/deleteid</MeetingTranslationDeleteId>
    <MeetingTranslationDeleteIds>/api/meet/meetingtranslation/deleteids</MeetingTranslationDeleteIds>
    <MeetingTranslationQuery>/api/meet/meetingtranslation/query</MeetingTranslationQuery>
    <MeetingTranslationPaging>/api/meet/meetingtranslation/paging</MeetingTranslationPaging>

    <MeetingSyncQuery>/api/meet/meeting/syncquery</MeetingSyncQuery>
    <MeetingRecordAdd>/api/meet/meetingrecord/add</MeetingRecordAdd>
    <MeetingProfileLoginAccountGet>/api/meet/meetingprofile/getloginaccountprofile</MeetingProfileLoginAccountGet>
    <MeetingProfileLoginAccountSave>/api/meet/meetingprofile/saveloginaccountprofile</MeetingProfileLoginAccountSave>

  </Meeting>
</ApiUrl>