<?xml version="1.0"?>
<DynamicApi xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            Enable="true" Authorize="true" ResultWrapper="true" ExceptionWrapper="true"
            Route="api/[module]/[controller]/[action]" ParamBinding="FromBody">
  <ServicePostfix>service|controller|application</ServicePostfix>
  <Component TypeName="UTH.Module.Core" Name="Core" Authorize="false">
    <Controller TypeName="UTH.Module.Core.CaptchaService">
      <Action TypeName="Send" Verb="GET"></Action>
      <Action TypeName="Verify" Verb="GET"></Action>
      <Action TypeName="Remove" Verb="GET"></Action>
    </Controller>
  </Component>
  <Component TypeName="UTH.Module.Basics" Name="Basics"  Authorize="false"></Component>
  <Component TypeName="UTH.Module.User" Name="User">
    <Controller TypeName="UTH.Module.User.AccountApplication" Authorize="false" ></Controller>
  </Component>
  <Component TypeName="UTH.Module.Meeting" Name="meet"></Component>
</DynamicApi>