<?xml version="1.0"?>
<Sms xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" >
  <Name>LuoSiMao</Name>
  <Platform Name="LuoSiMao" Id="id" Key="key" Secret="secret" Ident="【UTH】" Account="api" Password="key-01421ed5d8331fa74113799a9fa164e1" Url="http://sms-api.luosimao.com/v1/send.json"></Platform>
  <Platform Name="Aliyun" Id="aid" Key="akey" Secret="asecret" Ident="【UTH】" Account="" Password="" Url="http://www.aliyun.com"></Platform>
</Sms>