<?xml version="1.0"?>
<EngineConfigModel xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <AppNamespace>UTH.License.Win</AppNamespace>
  <AppTitle>授权文件生成工具</AppTitle>
  <AppCode>200100</AppCode>
  <AppType>Wpf</AppType>
  <IsDebugger>true</IsDebugger>
  <Culture>zh-CN,en-US</Culture>
  <BinPath>Bin|Core</BinPath>
  <ConfigPath>../../../../../Config</ConfigPath>
  <CaptchaExpire>600</CaptchaExpire>
  <Store>
    <Database>
      <ConnectionString>Data Source=assets\database\database.db;</ConnectionString>
      <DbType>Sqlite</DbType>
    </Database>
    <DefaultCache>
      <ConnectionString>redis1:6379</ConnectionString>
      <DbType>Redis</DbType>
      <DbName>0</DbName>
    </DefaultCache>
  </Store>
</EngineConfigModel>