@{
    ViewData["Title"] = Lang.sysXiTongPeiZhi;
    Layout = string.Format("~/Views/Shared/{0}.cshtml", AppHelper.IsMaster ? "_Master" : "_Layout");
}

@section Heads{ }

@section Styles{ }

@section Menus{
    @await Html.PartialAsync("~/Areas/Basics/Views/_Menus.cshtml")
}

<div class="dxm-page dxm-page-pos dxm-page-pos-no-foot layui-form">
</div>

@section Scripts{
    <script type="text/javascript">
        var pageView = {};
        $(document).ready(function () { pageView.init(); pageView.event(); });
    </script>
    <script type="text/javascript">

        pageView.init = function () {
        };

        pageView.event = function () {
            
        };

    </script>
}

