<div class="dxm-menu">
    <a href="~/user/member" class="active"><i class="iconfont icon-shangye1"></i>个人用户</a>
    <a href="~/user/organize"><i class="iconfont icon-shangye1"></i>组织用户</a>
    <a href="~/user/employe"><i class="iconfont icon-shangye1"></i>组织成员</a>
    <a href="~/user/admin"><i class="iconfont icon-shangye1"></i>管理员</a>
    <a href="~/user/import"><i class="iconfont icon-shangye1"></i>用户导入</a>
    <a href="~/user/log"><i class="iconfont icon-shangye1"></i>用户日志</a>
</div>
