<?xml version="1.0"?>
<EngineConfigModel xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <AppNamespace>UTH.Meeting.Win</AppNamespace>
  <AppTitle>会议系统管理中心</AppTitle>
  <AppCode>900102</AppCode>
  <AppType>Wpf</AppType>
  <IsDebugger>true</IsDebugger>
  <Culture>zh-CN,en-US</Culture>
  <BinPath>Bin|Core</BinPath>
  <ConfigPath>../../../../../Config</ConfigPath>
  <CaptchaExpire>600</CaptchaExpire>
  <Store>
    <Database>
      <ConnectionString>Data Source=assets\template\database.db;</ConnectionString>
      <DbType>Sqlite</DbType>
    </Database>
    <Caching>
      <ConnectionString>redis1:6379</ConnectionString>
      <DbType>Redis</DbType>
      <DbName>0</DbName>
    </Caching>
  </Store>
  <Settings>
    <Item Key="meetingViewUrl" Value="http://localhost:9101/wap?id={0}"></Item>
    <Item Key="meetingSource" Value="中文|zs,英语|en,阿拉伯语|ar,德语|de,俄语|ru,法语|fr,高棉语|km,韩语|ko,老挝语|lo,马来语|ms,葡萄牙语|pt,日语|ja,泰语|th,西班牙语|es,意大利语|it,印尼语|id"></Item>
    <Item Key="meetingTarget" Value="中文|zs,英语|en,阿拉伯语|ar,德语|de,俄语|ru,法语|fr,高棉语|km,韩语|ko,老挝语|lo,马来语|ms,葡萄牙语|pt,日语|ja,泰语|th,西班牙语|es,意大利语|it,印尼语|id"></Item>
    <Item Key="sentenceMilliseconds" Value="2500"></Item>
  </Settings>
</EngineConfigModel>



